// https://codepen.io/rjanjic/pen/obdEbv/
@mixin linethrough {
  position: relative;
  color: inherit;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid currentColor;
    top: 50%;

    // top: 45%; // prezzo sbarrato storto
    // transform: skewY(-20deg); // prezzo sbarrato storto
  }
}
