<div class="card c-card {{ modifier }}">
	<div class="image">
		<img src="http://assets.materialup.com/uploads/fc97b003-ba72-4c6e-9dd3-19bf5002c244/preview.jpg" width="100%">
	</div>

	<div class="text">
		<div class="fab">&#43;</div>
		<h1>{{ name }}</h2>
		<h3>Descrição da funcionalidade deve vir abaixo do título do caso de uso.</h3>
		<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.</p>
	</div>
</div>
