// *------------------------------------*
//    #LAYOUT
// *------------------------------------*

// Generic spacing
$space-xxs: px(5);
$space-xs:  px(10);
$space-s:   px(15);
$space-m:   px(20);
$space-l:   px(25);
$space-xl:  px(30);
$space-xxl: px(50);

// Main wrapper
$page-width-default: 95%;
$page-width-min:     px(288);
$page-width-tablet:  px(576);
$page-width-desktop: px(1000);
$page-width-wide:    px(1200);

// Generic padding
$page-padding-mobile:  $space-xs;
$page-padding-tablet:  $space-s;
$page-padding-desktop: $space-m;
$page-padding-wide:    $space-l;
