.l-cols {
  width: 100%;

  @include mq(tablet) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    &.row-reverse {
      flex-direction: row-reverse;
    }

    &.justify-between {
      justify-content: space-between;
    }

    &.justify-left {
      justify-content: flex-start;
    }

    &.justify-right {
      justify-content: flex-end;
    }

    &.align-top {
      align-content: flex-start;
    }
  }
}

.l-col {

  @include mq(tablet) {
    flex: 1;
  }
}

.l-col--double {

  @include mq(tablet) {
    flex: 2;
  }
}

.l-col--wide {

  @include mq(tablet) {
    width: 100%;
  }
}

.l-col--half {

  @include mq(tablet) {
    width: 50%;
  }
}
